@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100 dark:bg-slate-700;
}

.content {
  @apply text-slate-700 dark:text-slate-200;

  width: 100%;
  word-wrap: break-word;
}

.content p {
  margin-bottom: 8px;
}

.content a {
  @apply text-slate-700 dark:text-slate-200;

  text-decoration: underline;
  word-wrap: break-word;
  word-break: break-all;
  transition: color 0.15s ease-in-out;
}

.content a:hover,
.content a:active {
  @apply text-slate-800 dark:text-slate-100;
}

.content pre {
  overflow-x: auto;
  word-wrap: break-word;
  text-align: justify;
  max-width: initial !important;
  white-space: pre-wrap;
}

.content *:last-child {
  margin-bottom: 0;
}

.wrap {
  @apply px-4 py-6 bg-white shadow-xl dark:bg-slate-800 sm:rounded-lg sm:px-6;
}

.list-url {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: inline-block;
}

.list-url:hover {
  @apply underline text-slate-600 dark:text-slate-300;
}

.list-url:active {
  @apply underline text-slate-700 dark:text-slate-200;
}

.username {
  @apply text-slate-500 dark:text-slate-400;

  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  transition: color 0.15s ease-in-out;
}

.username:hover {
  @apply text-slate-600 dark:text-slate-300;

  text-decoration: underline;
}

.username:active {
  @apply text-slate-700 dark:text-slate-200;

  text-decoration: underline;
}

.comment-list {
  @apply border-slate-200 dark:border-slate-600;

  padding: 0;
  margin: 0;
  border-left-style: solid;
  border-left-width: 3px;
  padding-left: 20px;
  margin-top: 24px;
}

.comment-list li {
  padding-top: 0;
  padding-right: 0;
  border-top: none;
}

.comment-wrap {
  @apply border-slate-300;

  list-style: none;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top-style: solid;
  border-top-width: 1px;
  position: relative;
}

.comment-wrap.toggled ul {
  display: none;
}

.comment-wrap:first-child {
  border-top: none;
  padding-top: 0;
}

.comment-wrap:last-child {
  padding-bottom: 0;
}

.comment {
  display: block;
  text-decoration: none;
  padding: 12px;
  padding-top: 6px;
  margin: -12px;
  padding-bottom: 8px;
}

.comment.toggled {
  padding-top: 0;
  padding-bottom: 0;
}

.comment:hover {
  text-decoration: none;
}

.comment-toggle {
  display: block;
  margin: -6px;
  padding: 6px;
  margin-bottom: 6px;
  width: calc(100% + 12px);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.comment-toggle:hover {
  @apply bg-slate-100 dark:bg-slate-700;
}

.comment-toggle.toggled {
  @apply bg-slate-100 dark:bg-slate-700;
  opacity: 0.5;
  margin-bottom: 0;
}

.comment-toggle.toggled:hover {
  @apply bg-slate-100 dark:bg-slate-700;
}

.list-title {
  @apply text-slate-700 dark:text-slate-200 block pt-[2px] pb-1;
}

.list-title:hover {
  @apply no-underline text-slate-800 dark:text-slate-100;
}

.list-title:active {
  @apply no-underline text-slate-800 dark:text-slate-100;
}

.list-title:visited {
  @apply text-slate-500 dark:text-slate-400;
}

.list-title-inner {
  margin-right: 4px;
  word-wrap: break-word;
}

.list-link {
  @apply flex flex-row items-center text-sm;
}

.list-link:hover span {
  @apply text-slate-600 dark:text-slate-300;
}

.list-link:active {
  @apply text-slate-700 dark:text-slate-200;
}

.list-link-icon {
  @apply flex flex-row items-center pl-3;
}

.nav-link {
  @apply text-slate-500 dark:text-slate-400;

  position: relative;
  padding: 0 12px;
  font-size: 16px;
  text-decoration: none;
  line-height: 60px;
  display: block;
  transition: color 0.15s ease-in-out;

  @media (max-width: 768px) {
    padding: 0 12px;
  }
}

.nav-link.active {
  @apply font-medium no-underline text-slate-800 dark:text-slate-100;
}

.nav-link:hover {
  @apply no-underline text-slate-700 dark:text-slate-200;
}

.btn {
  @apply relative text-center transition-all duration-300 ease-out border select-none;
}
